.no-decoration {
  text-decoration: none;
}

.intersection-180 {
  min-height: 180px;
}

.intersection-260 {
  min-height: 260px;
}

.intersection-370 {
  min-height: 370px;
}

.intersection-450 {
  min-height: 450px;
}

.intersection-500 {
  min-height: 500px;
}

.intersection-600 {
  min-height: 600px;
}

.intersection-630 {
  min-height: 630px;
}
.bg-footer{
  background-color: #1a2a36;
}
.separator-footer{
  width: 80%;
  color: #8a9b9b;
}
.link-footer:hover{
  color: #fff;
  transform: scale(1.1);
  transition: 0.3s;
  
}
.a-footer {
  color: #8a9b9b;
  text-decoration: none;
  transition: 0.5s;
}
