.no-decoration {
  text-decoration: none;
}

.intersection-180 {
  min-height: 180px;
}

.intersection-260 {
  min-height: 260px;
}

.intersection-370 {
  min-height: 370px;
}

.intersection-450 {
  min-height: 450px;
}

.intersection-500 {
  min-height: 500px;
}

.intersection-600 {
  min-height: 600px;
}

.intersection-630 {
  min-height: 630px;
}
.bg-footer{
  background-color: #1a2a36;
}
.separator-footer{
  width: 80%;
  color: #8a9b9b;
}
.a-footer:hover{
  color: #fff;
  transform: scale(1.1);
  transition: 0.3s;
  
}
.a-footer {
  color: #8a9b9b;
  text-decoration: none;
  transition: 0.5s;
}

.link-card-time{
  text-decoration: none;
  color: #000;
}

.link-card-time > i{
  border: 1px solid green;
  border-radius: 50%;
  color: green;
  padding: 15px;
  transition: 0.3s;
}

.link-card-time > i:hover{
  border-radius: 50%;
  background-color: green;
  color: #fff;
  transition: 0.3s;
}

.link-header{
  color: #132a50;
  font-size: 15px;
  font-weight: 500;
  font-family: 'Open Sans' sans-serif;
}
.link-header:hover{
  color: rgb(18, 199, 18) ;
  transition: 0.2s;
}
#button-header{
  height: 100%;
  border: none;
  outline: #fff;
  background-color: #35C46E;
  width: 250px;
  color: #fff;
  font-size: 1rem;
  font-family: 'Open Sans';
}